<h2>Húrnégyszög területszámítás</h2>

<form action="calc.php" methot="get">
    <div>
        <label for="aside" class="form-label">a oldal</label>
        <input type="text" name="aside" id="aside" class="form-control">
    </div>
    <div>
        <label for="bside" class="form-label">b oldal</label>
        <input type="text" name="bside" id="bside" class="form-control">
    </div>
    <div>
        <label for="cside" class="form-label">c oldal</label>
        <input type="text" name="cside" id="cside" class="form-control">
    </div>
    <div>
        <label for="dside" class="form-label">d oldal</label>
        <input type="text" name="dside" id="dside" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">szamit</button>
</form> <!--feldolgozó calc.php-->